{% extends "base.html" %}
{% block content %}
    <div class="div1">
        <h2>Work log</h2>
        {% for i in jobs %}
            <h3>Action №{{ loop.index }}</h3>
            <table>
                {% block th %}
                {% endblock %}
                <tr>
                    <td>{{ i.job }}</td>
                    <td>{{ i.team_leader }}</td>
                    <td>{{ i.work_size }} hours</td>
                    <td>{{ i.collaborators }}</td>
                    <td>{% if i.is_finished %}Finished{% else %}Is not finished{% endif %}</td>
                </tr>
            </table>
        {% endfor %}
    </div>


{% endblock %}